---
layout: default
title: Diatope - Géopolitiques de l'aménagement
---

<!--Cette section présente les 5 derniers articles-->
<section>
  <header>
    <h2>Dernières publications</h2>
  </header>
  <ul>
    {% for post in site.posts limit: 5 %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <adress>
        {{ post.author }}
      </adress>
      <p>
        le <time timedate="{{ post.date | date: " %F" }}">{{ post.date | date: "%d/%m/%Y" }}</time>
      </p>
      {{ post.excerpt }}
    </li>
    {% endfor %}
  </ul>
</section>
<!--Cette section présente la liste de tags associés à l'ensemble des articles.
Le nombre d'article sous chaque tag est numéroté. Chaque lien renvoie vers la page d'archive de tag correspondante.-->
<section>
  <ul>
    {% for tag in site.tags %}
    <li><a href="/archives/tag/{{ tag[0] | slugify }}/">{{ tag[0] }} ({{ tag[1].size }})</a></li>
    {% endfor %}
  </ul>
</section>