---
layout: default
title: Diatope - L'aménagement dans toutes ses dimensions
---

<!-- Cette section présente les x derniers post  -->
<section>
  {% for post in site.posts %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p>le {{ post.date }} par {{ post.author }}</p>
  {% endfor %}
</section>
<!-- Cette section présente la liste de tags associés à l'ensemble des posts -->
<section>
  <ul>
    {% for tag in site.tags %}
    <li>{{ tag[0] }} ({{ tag[1].size }})</li>
    {% endfor %}
  </ul>
</section>