---
layout: default
---
<article>
    <header>
        <p><a href="/archives/category/{{ page.category | slugify }}">|{{ page.category }}|</a></p>
        <ul>
            {% for tag in page.tags %}
            <li><a href="/archives/tag/{{ tag | slugify }}">#{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <h2>{{ page.title }}</h2>
        <adress>
            {{ page.author }}
        </adress>
        <p>
            le <time datetime="{{ page.date | date: " %F" }}">{{ page.date | date: "%d/%m/%Y" }}</time>
        </p>
    </header>
    {{ content }}
</article>