---
layout: main
---
{% assign time = page.date | date: "%Y-%m-%d" %}
{% assign date = page.date | date: "%d/%m/%Y" %}
{% assign category-name = page.categories[0] %}
{% assign category-slug = page.categories[0] | slugify %}
<article>
    <header>
        <hgroup>
            <p>
                <a href="/categories/{{ category-slug }}/">| {{ category-name }} |</a>
                {% for tag in page.tags %}
                {% assign tag-slug = tag | slugify %}
                <a href="/tags/{{ tag-slug }}/"> #{{ tag }}</a>
                {% endfor %}
             </p>
            <h2>{{ page.title }}</h2>
            <p>
                {{ page.author }}, le <time datetime="{{ time }}">{{ date }}</time>
            </p>
        </hgroup>
    </header>
    <section>
        {{ content }}
    </section>
</article>